.inshovering {
  border-bottom: 5px dashed #b00 !important;
}
.focus_insipio1 {
  width: 100px;
  height: 30px;
  border: none;
}
.focus_insipio2 {
  width: 100px;
  height: 30px;
  border: none;
}
.ws_hl {
  background-color: #01f;
  color: #fff;
  box-shadow: #000;
  border-radius: 3px;
  transform: scale(2);
  transition: 20ms;
  transition-duration: 0.1s;
  font-size: inherit !important;
  display: inline !important;
}
.sent_hl {
  background-color: #f1f500;
  border-radius: 3px;
  font-size: inherit !important;
  display: inline !important;
}
.sent_hl_one {
  background-color: #f1f500;
  border-radius: 3px;
  font-size: inherit !important;
  display: inline !important;
}
.ws_hl_one {
  background-color: #01f;
  color: #fff;
  box-shadow: #000;
  border-radius: 3px;
  transform: scale(2);
  transition: 20ms;
  transition-duration: 0.1s;
  font-size: inherit !important;
  display: inline !important;
}
.sent_hl_two {
  background-color: #beffd6;
  border-radius: 3px;
  font-size: inherit !important;
  display: inline !important;
}
.ws_hl_two {
  background-color: #a4cbff;
  color: #000;
  box-shadow: #000;
  border-radius: 3px;
  transform: scale(2);
  transition: 20ms;
  transition-duration: 0.1s;
  font-size: inherit !important;
  display: inline !important;
}
.sent_hl_three {
  background-color: #a4cbff;
  border-radius: 3px;
  font-size: inherit !important;
  display: inline !important;
}
.ws_hl_three {
  background-color: #ffa4cb;
  color: #000;
  box-shadow: #000;
  border-radius: 3px;
  transform: scale(2);
  transition: 20ms;
  transition-duration: 0.1s;
  font-size: inherit !important;
  display: inline !important;
}
.example_word1 {
  font-size: 17px;
}
.example_high1 {
  font-size: 17px;
}
.example_word2 {
  font-size: 17px;
}
.example_high2 {
  font-size: 17px;
}
.example_word3 {
  font-size: 17px;
}
.example_high3 {
  font-size: 17px;
}
.playbtnmob {
  background: url(https://insipio.com/readit3/svg/mobile/light/play.svg) !important;
}
.playbtnmob:disabled {
  filter: grayscale(100%);
}
.readtouchmob {
  background: url(https://insipio.com/readit3/svg/mobile/light/readontouch.svg) !important;
}
.readtouchmob:disabled {
  background: url(https://insipio.com/readit3/svg/mobile/light/readontouch.svg) !important;
  filter: grayscale(100%);
}
.readtouchmobdimmed {
  background: url(https://insipio.com/readit3/svg/mobile/light/readontouchdimmed.svg) !important;
  display: none;
}
.pausebtnmob {
  background: url(https://insipio.com/readit3/svg/mobile/light/pause.svg) !important;
  display: none;
}
.stopbtnmob {
  background: url(https://insipio.com/readit3/svg/mobile/light/stop.svg) !important;
}
.stopbtnmob:disabled {
  filter: grayscale(100%);
}
.helpbtnmob {
  background: url(https://insipio.com/readit3/svg/mobile/light/help.svg) !important;
}
.closebarmob {
  background: url(https://insipio.com/readit3/svg/mobile/light/close.svg) !important;
}
.settingsbtnmob {
  background: url(https://insipio.com/readit3/svg/mobile/light/settings.svg) !important;
}
.settingsdimmedbtnmob {
  background: url(https://insipio.com/readit3/svg/mobile/light/settingsdimmed.svg) !important;
  display: none;
}
.dlbtn {
  background: url(https://insipio.com/readit3/svg/mobile/default/download.svg) !important;
  border: none;
  width: 40px;
  height: 40px;
  position: relative;
  float: right;
  margin-right: 18%;
}
.insbutton {
  width: 100%;
  height: 100%;
  z-index: inherit;
  border: none;
  position: relative;
}
.insborder {
  height: 55px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.568);
  bottom: 0;
  position: fixed;
  left: 0;
  z-index: 99999998;
}
.hrsp {
  background-color: #575757;
  width: 90%;
  height: 1px;
  padding: 0;
  margin: 0 auto 5px auto;
}
.hrsp2 {
  margin: 0 auto 5px auto;
}
.notenabled {
  display: none !important;
}
.mainplayer {
  position: absolute;
  max-width: 310px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  bottom: 0;
  z-index: 99999998;
}
#loadermob {
  background-image: url(https://insipio.com/readit3/svg2/readit3/loadins.gif);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 22, 22, 0.548);
  display: none;
}
.mob_buttons {
  display: grid;
  grid-template-columns: 49px 49px 49px 49px 49px 49px;
  grid-template-rows: 49px;
  grid-gap: 3px;
  padding: 1px;
  position: relative;
  z-index: 9999;
}
.mobsettings {
  width: 85%;
  height: 85%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-55%);
  background-color: silver;
  position: fixed;
  border-radius: 3vw;
  border: 4px solid #3b3b3b;
  overflow: scroll;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  font-weight: 700;
  color: #1f557c;
  z-index: 100000000;
  max-height: 670px;
  max-width: 450px;
  box-shadow: inset 0 0 0 1px #3b3b3b;
  display: none;
}
.titlesettings {
  background-color: #3b3b3b;
  border: 3px solid #3b3b3b;
  color: silver;
  font-size: 25px;
  position: relative;
  text-align: center;
  height: 50px;
}
.titledivsettings {
  width: 100%;
}
.settingstext {
  margin-left: 39%;
  margin-right: 50%;
}
.useLocal {
  font-size: 20px;
  position: relative;
  float: right;
  margin-right: 20px;
  width: 36%;
  margin-top: 5px;
}
.divtext {
  margin-left: 20px;
  font-size: 20px;
}
.radiostyle {
  margin-left: 30px;
}
.radiotext {
  font-weight: 400;
}
#speedsel {
  margin-top: 10px;
}
.pausetoggleboxx {
  overflow: visible;
}
#savelabel {
  max-width: 126px;
}
#fontSelid {
  max-width: 126px;
}
#texttheme {
  margin-left: -3%;
}
.playsett {
  background: url(https://insipio.com/readit3/svg/mobile/default/play.svg) !important;
  width: 40px;
  height: 40px;
  position: relative;
  float: left;
  margin-left: 19px;
  margin-top: 3px;
  border: none;
  border-radius: 10px;
}
.closesett {
  background: url(https://insipio.com/readit3/svg/mobile/default/close.svg) !important;
  width: 40px;
  height: 40px;
  position: relative;
  float: right;
  border: none;
  border-radius: 10px;
  margin-top: 3px;
  margin-right: 19px;
}
.noscrollmask {
  position: fixed;
  z-index: 99999999;
  background-color: rgba(88, 88, 88, 0.555);
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
}
.resetdefbtn {
  width: 90%;
  height: auto;
  border-radius: 5px;
  font-weight: 700;
  color: #fff;
  background-color: #df0000;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition-duration: 0.1s;
  text-overflow: clip;
  padding: 0;
  position: relative;
  margin: 10px 15px 15px 5%;
}
.jp-progress {
  overflow: hidden;
  background-color: rgba(150, 150, 150, 0.767);
}
.jp-audio .jp-progress {
  position: relative;
  height: 15px;
  top: 0;
}
.jp-audio .jp-type-single .jp-progress {
  top: 0;
  width: 100%;
}
.jp-video .jp-progress {
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
}
.jp-seek-bar {
  background: url(https://insipio.com/readit3/themes/light/progress_bar_gray.jpg);
  width: 120px;
  height: 100%;
  cursor: pointer;
}
.jp-play-bar {
  background: url(https://insipio.com/readit3/themes/light/progress_bar_blue.jpg);
  width: 120px;
  height: 100%;
}
.jp-seeking-bg {
  background: url(https://insipio.com/readit3/themes/light/jplayer.blue.monday.seeking.gif);
}
@font-face {
  font-family: OpenDyslexicBold;
  src: url(../fonts/OpenDyslexic-Bold.woff) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: OpenDyslexicItalic;
  src: url(../fonts/OpenDyslexic-Italic.woff) format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: OpenDyslexicRegular;
  src: url(../fonts/OpenDyslexic-Regular.woff) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: OpenDyslexicBoldItalic;
  src: url(../fonts/OpenDyslexic-BoldItalic.woff) format("truetype");
  font-weight: 700;
  font-style: italic;
}
