#stacks_in_429_page0>.s3_row {
	margin: 0 -10px;
}

#stacks_in_429_page0>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_429_page0>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_429_page0>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_429_page0>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_429_page0>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}





#stacks_in_1991_page0>.s3_row {
	margin: 0 -10px;
}

#stacks_in_1991_page0>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_1991_page0>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_1991_page0>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_1991_page0>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_1991_page0>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  
#stacks_in_755_page0_button {
	display:block;
	position: relative;
	text-align: center;
}


#stacks_in_755_page0 a:link, #stacks_in_755_page0 a:visited {
	 display:block; 
	
	
	position: relative;
	text-decoration:none;
}
#stacks_in_755_page0 a:hover, #stacks_in_755_page0 a:active {
	color:#FFFFFF;
}



#stacks_in_755_page0 a:link, #stacks_in_755_page0 a:visited {
	background-color:transparent;
	border:0;
	padding:2px 10px;
	border-radius:30px;
	margin:2px;
}
#stacks_in_755_page0 a:hover {
	background-color:#D164A0;
}
#stacks_in_755_page0 a:active {
	background-color:#B15588;
}








#stacks_in_755_page0 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  1px;
}
#stacks_in_763_page0_button {
	display:block;
	position: relative;
	text-align: center;
}


#stacks_in_763_page0 a:link, #stacks_in_763_page0 a:visited {
	 display:block; 
	
	
	position: relative;
	text-decoration:none;
}
#stacks_in_763_page0 a:hover, #stacks_in_763_page0 a:active {
	color:#FFFFFF;
}



#stacks_in_763_page0 a:link, #stacks_in_763_page0 a:visited {
	background-color:transparent;
	border:0;
	padding:2px 10px;
	border-radius:30px;
	margin:2px;
}
#stacks_in_763_page0 a:hover {
	background-color:#D164A0;
}
#stacks_in_763_page0 a:active {
	background-color:#B15588;
}








#stacks_in_763_page0 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  1px;
}
#stacks_in_771_page0_button {
	display:block;
	position: relative;
	text-align: center;
}


#stacks_in_771_page0 a:link, #stacks_in_771_page0 a:visited {
	 display:block; 
	
	
	position: relative;
	text-decoration:none;
}
#stacks_in_771_page0 a:hover, #stacks_in_771_page0 a:active {
	color:#FFFFFF;
}



#stacks_in_771_page0 a:link, #stacks_in_771_page0 a:visited {
	background-color:transparent;
	border:0;
	padding:2px 10px;
	border-radius:30px;
	margin:2px;
}
#stacks_in_771_page0 a:hover {
	background-color:#D164A0;
}
#stacks_in_771_page0 a:active {
	background-color:#B15588;
}








#stacks_in_771_page0 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  1px;
}
#stacks_in_779_page0_button {
	display:block;
	position: relative;
	text-align: center;
}


#stacks_in_779_page0 a:link, #stacks_in_779_page0 a:visited {
	 display:block; 
	
	
	position: relative;
	text-decoration:none;
}
#stacks_in_779_page0 a:hover, #stacks_in_779_page0 a:active {
	color:#FFFFFF;
}



#stacks_in_779_page0 a:link, #stacks_in_779_page0 a:visited {
	background-color:transparent;
	border:0;
	padding:2px 10px;
	border-radius:30px;
	margin:2px;
}
#stacks_in_779_page0 a:hover {
	background-color:#D164A0;
}
#stacks_in_779_page0 a:active {
	background-color:#B15588;
}








#stacks_in_779_page0 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  1px;
}
#stacks_in_566_page0>.s3_row {
	margin: 0 -10px;
}

#stacks_in_566_page0>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_566_page0>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_566_page0>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_566_page0>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_566_page0>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  
#stacks_in_493_page0>.s3_row {
	margin: 0 -10px;
}

#stacks_in_493_page0>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_493_page0>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_493_page0>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_493_page0>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_493_page0>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_493_page0 {
	border: solid rgba(209, 100, 160, 1.00);
	border-width:  10px;
}
#stacks_in_2752_page0>.s3_row {
	margin: 0 -10px;
}

#stacks_in_2752_page0>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_2752_page0>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_2752_page0>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_2752_page0>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_2752_page0>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_2887_page0 {
	padding:  5px;
}

#stacks_in_2910_page0 {
	padding:  5px;
}

#stacks_in_2746_page0 {
	padding:  5px;
}

#stacks_in_2768_page0 {
	padding:  5px;
}
#stacks_in_2855_page0>.s3_row {
	margin: 0 -10px;
}

#stacks_in_2855_page0>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_2855_page0>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_2855_page0>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_2855_page0>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_2855_page0>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_2896_page0 {
	padding:  5px;
}
